
<!DOCTYPE html>
<html>
<head>
  <title>Wikinimous</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab">
  <link rel="stylesheet" media="all" href="/assets/application-b29f7e8d78e5d804b474152b6bfd7af10e66efa944957a91a69805cd4514a687.css" />
  <script src="/assets/application-2a3f7bdf326bf25e045fce761104bec115652cc00a9ef3ed47d522a1bcf270d1.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="B7qCUirN5FKKHmKpl7J9k5MTrvid4lOv4G98MFBrHkkkin3UFGc5xouTzBW3+bEnhysvAE7tN+W3IWjV9bAISQ==" />
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Wikinimous</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/articles/new">New Article</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        

          <article>
    <h2><a href="/articles/926076">Testing</a></h2>
    x &lt;- c(1,2,3,4) 3
  </article>
  <article>
    <h2><a href="/articles/926078">Test before challenge</a></h2>
    during the night before...
  </article>
  <article>
    <h2><a href="/articles/926033">hold your 💩</a></h2>
    Well then get your 💩 together. Get it all together and put it in a backpack, all your 💩, so it&#39;s toge
  </article>
  <article>
    <h2><a href="/articles/926074">I hate lockdown !!</a></h2>
    Who doesn&#39;t?
????
Me
  </article>
  <article>
    <h2><a href="/articles/926079">Hello</a></h2>
    What&#39;s up?
  </article>
  <article>
    <h2><a href="/articles/926080">yo ma poule</a></h2>
    yo
  </article>

      </div>
    </div>
  </div>

</body>
</html>
